# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/.vs/DigitViewer/CopilotIndices/18.0.988.22099/CodeChunks.db
/.vs/DigitViewer/CopilotIndices/18.0.988.22099/SemanticSymbols.db
/.vs
/VSS - DigitViewer2/.vs/DigitViewer2
/VSS - DigitViewer2/DigitViewer2/x64/Debug
/VSS - DigitViewer2/x64/Debug
